<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204078814910-opjt8a2g50hho08g6vkbj19kum47m343.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204078814910-opjt8a2g50hho08g6vkbj19kum47m343</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KMur0eS-k4hGXsasuxnrQqdUENr5iFE</string>
	<key>GCM_SENDER_ID</key>
	<string>204078814910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFindMyStuff</string>
	<key>PROJECT_ID</key>
	<string>find-my-stuff-3928c</string>
	<key>STORAGE_BUCKET</key>
	<string>find-my-stuff-3928c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204078814910:ios:062082795f735b597a30ef</string>
</dict>
</plist>